name: Deploy To EC2

on:
  push:
    branches:
      - "feat/#49-cicd-setup"

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
        - name: Github Repository 파일 불러오기
          uses: actions/checkout@v4

        - name: JDK 21버전 설치
          uses: actions/setup-java@v4
          with:
            distribution: temurin
            java-version: 21

        - name: application.yml (공통) 파일 생성
          run: |
            mkdir -p ./src/main/resources
            echo "${{ secrets.APPLICATION_YML }}" > ./src/main/resources/application.yml

        - name: application-local.yml (개발용) 파일 생성
          run: |
            echo "${{ secrets.APPLICATION_LOCAL_YML }}" > ./src/main/resources/application-local.yml

        - name: 테스트 및 빌드하기
          run: ./gradlew clean build

        - name: AWS credentials 인증 설정 (Resource 접근 권한)
          uses: aws-actions/configure-aws-credentials@v4
          with:
            aws-region: ap-northeast-2
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

        - name: ECR에 로그인
          id: login-ecr
          uses: aws-actions/amazon-ecr-login@v2

        - name: docker 이미지 생성
          run: docker build -t remu-server .

        - name: docker 이미지에 Tag 붙이기
          run: docker tag remu-server ${{ steps.login-ecr.outputs.registry }}/remu-server:latest

        - name: ECR에 docker 이미지 push
          run: docker push ${{ steps.login-ecr.outputs.registry }}/remu-server:latest

        - name: SSH로 EC2에 접속 및 배포 실행
          uses: appleboy/ssh-action@v1.0.3
          with:
            host: ${{ secrets.EC2_HOST }}
            username: ${{ secrets.EC2_USERNAME }}
            key: ${{ secrets.EC2_PRIVATE_KEY }}
            script_stop: true
            script: |
              docker stop remu-server || true
              docker rm remu-server || true
              docker pull ${{ steps.login-ecr.outputs.registry }}/remu-server:latest
              docker run -d --name remu-server -p 8080:8080 ${{ steps.login-ecr.outputs.registry }}/remu-server:latest